[Unit]
Description=Gyotaku

[Service]
Type=simple
ExecStart=/opt/gyotaku
Restart=always
User=gyotaku
Group=gyotaku
WorkingDirectory=/opt
Environment=LISTEN=127.0.0.1:9999
Environment=CHROME=/usr/bin/chromium-browser
Environment=CRAWLER_JOBS=4

[Install]
WantedBy=multi-user.target
